<header class="toolbar">
  <mat-toolbar color="primary" class="toolbar-app">
    <span>Gestor de Actividades Académicas</span>
  </mat-toolbar>
</header>

<main class="contenedor-principal">

  <mat-card class="tarjeta-formulario">
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de la actividad</mat-label>
        <input matInput [(ngModel)]="nombre" placeholder="Ej: Proyecto de Web II">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Materia</mat-label>
        <input matInput [(ngModel)]="materia" placeholder="Ej: Programación Web II">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Periodo de entrega</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="fechaInicio" placeholder="Fecha inicio">
          <input matEndDate [(ngModel)]="fechaFin" placeholder="Fecha fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prioridad</mat-label>
        <input type="text" matInput [(ngModel)]="prioridadSeleccionada" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (opcion of opcionesPrioridad; track opcion) {
          <mat-option [value]="opcion">{{ opcion }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="registrar()" class="full-width">
        Registrar actividad
      </button>
    </mat-card-content>
  </mat-card>

  <section class="tarjeta-resumen">
    <h2>Resumen</h2>
    <div class="indicators">
      <span>Total: {{ service.totalActividades() }}</span>
      <span>Pendientes: {{ service.pendientes() }}</span>
      <span>Completadas: {{ service.completadas() }}</span>
    </div>
  </section>

  <section class="filtros" style="margin: 20px 0; display: flex; justify-content: center;">
  <mat-button-toggle-group 
    [value]="service.filtroActual()" 
    (change)="service.filtroActual.set($event.value)">
    
    <mat-button-toggle value="todas">Todas</mat-button-toggle>
    <mat-button-toggle value="pendientes">Pendientes</mat-button-toggle>
    <mat-button-toggle value="completadas">Completadas</mat-button-toggle>
    
  </mat-button-toggle-group>
</section>

  <section class="lista-actividades">
    <h2>Tus actividades</h2>
    @for (item of service.listaFiltradas(); track item.id){
    <mat-card class="tarjeta-actividad">
      <mat-card-content class="fila-tarea">

        <div class="info-izquierda">
          <mat-checkbox [checked]="item.completada" (change)="service.cambiarEstado(item.id)">
          </mat-checkbox>

          <div class="info-actividad">
            <strong>{{ item.nombre }}</strong>
            <small>{{ item.materia }}</small>

            <p class="estado-actividad" [class.completada]="item.completada">
              {{ item.completada ? 'Completada' : 'Pendiente' }}
            </p>

            <p class="fecha-entrega">Entrega: {{ item.fecha }}</p>
            <span class="prioridad">{{ item.prioridad }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    } @empty {
    <p>No tienes actividades registradas aún.</p>
    }
  </section>
</main>